body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    background-color: white;
}

.top-bar {
    background-color: rgb(208, 208, 208);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.new-bar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust the height as needed */
    border: 1px solid black; /* Add black border */
}

.left-content img {
    max-height: 60px;
    width: auto;
}

.right-content {
    display: flex;
    align-items: center;
}

.right-content button {
    background-color: white;
    border: 1px solid rgb(208, 208, 208);
    cursor: pointer;
    padding: 12px;
    border-radius: 15px;
    margin-left: 10px;
    width: 100px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 30px;
    overflow: hidden;
}

input {
    padding: 12px;
    width: 60%;
    border: 1px solid black;
    border-radius: 15px;
}

button {
    padding: 12px;
    background-color: rgb(208, 208, 208);
    cursor: pointer;
    border-radius: 15px;
    margin-left: 10px;
    width: 100px;
}

header {
    text-align: center;
    margin-top: 50px;
    font-size: xx-large;
}

footer {
    position: absolute; /* Set position to absolute */
    bottom: 0; /* Align the footer to the bottom */
    width: 100%; /* Full width */
    background-color: rgb(208, 208, 208);
    padding: 10px;
    text-align: center;
}

.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%; /* Adjust the width as needed */
    max-width: 400px; /* Add a maximum width if desired */
    border: 1px solid black; /* Add black border */
    margin: 10px auto; /* Center the container vertically and horizontally */
}

.result-container input {
    padding: 12px;
    border: none; /* Remove border for the input */
    border-radius: 15px;
    width: 100%; /* Make the input take up full width */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    margin: 10px auto; /* Center the input vertically and horizontally within the container */
}

.grey-container {
    background-color: #dcdcdc; /* Grey background color */
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Align items vertically in the container */
    height: 100px; /* Adjust the height as needed */
    margin: 10px 10% 10px 10px; /* Add margin to the left, adjust as needed */
    border: 1px solid black; 
    border-radius: 15px;
    width: 50%;
}